.btn-outline-color1 {
    color: #fc2ef9;
    border-color: #fc2ef9;
}
.btn-outline-color1:hover {
    color: #fff;
    background-color: #fc2ef9;
    border-color: #fc2ef9;
}
.btn-outline-color2 {
    color: #ffb8d0;
    border-color: #ffb8d0;
}
.btn-outline-color2:hover {
    color: #fff;
    background-color: #ffb8d0;
    border-color: #ffb8d0;
}
.btn-outline-color3 {
    color: #455f3b;
    border-color: #455f3b;
}
.btn-outline-color3:hover {
    color: #fff;
    background-color: #455f3b;
    border-color: #455f3b;
}
.jumbotron{
    background:
            linear-gradient(
                    rgb(245, 106, 152),
                    rgb(200, 111, 87)
            );
    color:white !important;
    height:100vh;
}
.btn-img {
    height: 350px;
    width: 350px;
}
.canvas {
    text-align: center;
}
body {
    background: rgba(255, 204, 204, 0.4);

}
nav {
    /*background: transparent !important;*/
    background: url("../src/bg2.jpg") center top;

}
footer {
    background: url("../src/bg2.jpg") center bottom;
}
footer2 {
    background: url("../src/bg2.jpg") center bottom;
    position: absolute;
    width: 100%;
    bottom: -165px;
    left: 0;
}
.footer-text{
    color:white !important;
    text-align: center;
}